# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Node.js
node_modules/
dist/
build/
.eslintcache

# Logs
*.log

# IDEs
.vscode/
.idea/
.DS_Store

# Large files/binary
*.exe
*.dll
*.so
*.dylib
